/* ****************** 
   COLOUR PALETTE 

#473f72
#c6b8e0
main text - #232323

****************** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #232323;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:minmax(100px, max-content);
    grid-template-areas: 
        "header"
        "celebrate"
        "honouring"
        "lifecycle"
        "faq"
        "contact"
        "footer";
    font-family: 'Heebo', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

/* ****************** */
/* REUSEABLE */
/* ****************** */

a:link,
a:visited {
    text-decoration: none;
}

.button {
    font-family: 'Work Sans', 'Arial', sans-serif;
    font-weight: 200;
    border: 2px solid #c6b8e0;
    border-radius: 20px;
    padding: 10px;
    color: #c6b8e0;
    margin: 20px;
}

a.button:active,
a.button:hover {
    background-color: #c6b8e0;
    color: #fff;
}

section {
    margin: 0;
    padding: 40px 50px;
}

/* ****************** */
/* NAVIGATION */
/* ****************** */

nav {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content:flex-end; 
    
}

nav a, nav img {
    width: 30px;
    margin: 5px;
    color: #c6b8e0;
}


.home {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(img/rings.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

h1, h2, h3 {
    font-family: 'Work Sans', 'Arial', sans-serif;
    font-weight: 200;
    color: #473f72;
}

header p,
header h1 {
    color: #fff;
}

header h1 {
    letter-spacing: 1px;
    word-spacing: 5px;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

h2::after {
    border-bottom: 2px solid #473f72;
}
.celebrate {
    grid-area: celebrate;
}

.celebrate img {
    width: 100px;
    border-radius: 50%;
}

.honouring {
    grid-area: honouring;
}

.honouring a {
    background-image: url(img/celebrity-weddings-t.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    border-radius: 50%;
    border: 4px solid #473f72;
    margin: 10px;
}
.lifecycle {
    grid-area: lifecycle;
}

.faq img {
    width: 100%;
}

.faq {
    grid-area: faq;
    
}

.faq h3,
.faq p {
    padding: 10px;
}

.contact {
    grid-area: contact;
}

.contact div {
    background-color: #fff;
    padding: 40px;
    border-radius: 30px;
    margin: 20px
}

.contact div p:first-of-type {
    border-bottom: 1px solid #473f72;
    text-align: center;
    padding: 0 10px 20px 10px;
    font-size: 130%;
}

.contact div p {
    font-family: 'Work Sans', 'Arial', sans-serif;
    color: #473f72;
}

.contact 


.celebrate, 
.lifecycle,
.contact {
    background-color: #f9f8ff;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    font-family: 'Work Sans', 'Arial', sans-serif;
    align-items: center;
    background-color: #b5a0cc;
}

footer img {
    width: 30px;
    height: 30px;
    margin: 10px;
    transition: transform 0.2s;
}

footer img:hover {
    transform: scale(1.20);
}
