/* *********************
   CUSTOM PROPERTIES 
***********************/

:root {
/*    --darkpurple: #381860;*/
/*    --darkpurple: #473f72;*/
    --darkpurple: #31273c;
/*    --lightpurple:#6b4b95 ;*/
    --lightpurple: #c6b8e0;
/*    --bgpurple: #e5ddef;*/
    --bgpurple: #f2f0f5;
/*    --main-text: rgba(39, 39, 39, 0.96);*/
    --main-text: #232323;
    
/*    --main-font: 'Roboto+Slab';*/
    --main-font: 'Bangla Sangham MN';
    --headings: 'Montserrat';
    --footerpurple: #31273c;
}


html {
    box-sizing: border-box;
    font-family: var(--main-font), 'Arial', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: var(--main-text);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

section {
    margin: 0;
    padding: 8vh 8vw 8vh 8vw;
}

.celebrate, 
.lifecycle,
.contact,
.couple,
.unique,
.vow,
.fees {
    background-color: var(--bgpurple);
}

/* ****************** */
/* HEADINGS STYLING     */
/* ****************** */
h1, h2, h3 {
    font-family: var(--headings), 'Arial', sans-serif;
    font-weight: 200;
    color: var(--darkpurple);
    text-align: center;
}

h2 {
    font-size: 2rem;
    padding: 6px;
    max-width: max-content;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 400;
}

h2::after {
    display: block;
    border-bottom: 1px solid var(--darkpurple);
    content: "";
    width: 70%;
    margin: 12px auto 0 auto;
}

h3 {
    font-size: 1.5rem;
    padding: 10px;
    padding-bottom: 0;
    text-align: left;
}

/* ****************** */
/* BUTTONS */
/* ****************** */

.button {
    font-family: var(--headings), 'Arial', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    
    color: var(--darkpurple);
    border: 1px solid var(--darkpurple);
    border-radius: 32px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                    0 1px 5px 0 rgba(0, 0, 0, 0.12),
                    0 3px 1px -2px rgba(0, 0, 0, 0.2);
    
    display: block;
    width: max-content;
    margin: 0px auto;
    padding: 0.6em 1em;
    
    transition: transform 250ms;
}

a:link,
a:visited {
    text-decoration: none;
}

.button:hover,
.button:active {
    background-color: var(--darkpurple);
    color: #fff;
}

/************** */
/* Body Text    */
/************** */

body {
    line-height: 1.6;
}

p {
    padding: 10px;
    text-align: left;
}

/*************************************/
/* HEADER, NAVIGATION, SOCIAL LINKS */
/************************************/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bgpurple);
    padding: 20px 20px;
    width: 100%
}

header nav ul {
    display: flex;
    flex-direction: column;
    align-items:  center;
    max-width: max-content;
}

header .logo {
    margin: 1em;
    display: flex;
}

.logo_sr {
    width: 60px;
    margin-right: 0.8em;
}

.logo_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lcc {
    font-family: var(--headings);
    color: var(--lightpurple);
    text-transform: lowercase;
    letter-spacing: 0.6px;
    margin: 0;
    padding: 0;
}

.logo_name {
    margin: 0;
    margin-bottom: 0.5em;
    width: 300px;
}

ul {
    list-style: none;
    padding: 0;
}

nav li {
    margin: 0.5em 1em;
    color: var(--darkpurple);
/*    white-space: nowrap;*/
    text-transform: lowercase;
}

nav li a,
.social-links ion-icon {
    transition: color 250ms;
}

.phone-number {
    color: var(--darkpurple);
}

/* make the instagram & facebook icons bigger*/
.logo-facebook {
   font-size: 1.2em; 
}

.logo-instagram {
    font-size: 1.3em;
}

/*TODO: MAKE FB AND INSTAGRAM ICONS COLOUR PURPLE ON FOCUS STATE*/
nav li a:focus,
nav li a:hover,
nav li a:active,
.social-links ion-icon:hover
{
    color: var(--lightpurple);
}

.social-links {
    display: flex;
    align-items: center;
    margin: 0;
}

.social-links ion-icon {
    display: block;
    margin: 5px;
    color: var(--darkpurple);
}

@media (min-width: 800px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    
    header nav ul {
        flex-direction: row;
    }
    
    .logo_group {
        align-items: flex-start;
    }
}


/* ****************** */
/* HERO SECTION     */
/* ****************** */

.hero {    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-text);
    background-image: url(../images/handfasting.jpg);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

section.hero {
    padding: 0;
    padding-bottom: 50px;
}

.hero header {
    background-color: transparent;
}

.hero>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2em;  
}

.hero h1 {
    word-spacing: 10px;
    font-size: 5rem;
    max-width: max-content;
    line-height: 1.2;
}

.nav--hero a,
.nav--hero li,
.social-icon {
    color: var(--lightpurple);
}

.hero h1,
.subtitle {
    color: rgba(255,255,255,0.9);
}

.button--hero {
    color: rgba(255,255,255,0.9);
    background-color: var(--darkpurple);
    border: none;
    font-size: 1rem;
    margin: 2em;
}

.hero .subtitle {
    font-size: 1.2rem;
    max-width: max-content;
    padding: 2em 1em;
    text-align: inherit;
}

@media (min-width: 800px) {
    .hero header {
        margin-bottom: 100px;
    }
}

/* ****************** */
/* CELEBRATE SECTION */
/* ****************** */

.celebrate>div {    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    margin: 30px auto;
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
    max-width: 900px;
}

.circle--img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
/*    border: 1px solid var(--darkpurple);*/
    padding: 0px;
    object-fit: cover;
}

.sam--pic {
    object-position: 0 -30px;
    justify-self: center;
}

.celebrate a.button {
    margin: 20px 20px 20px auto;
}

/* ****************** */
/* HONOURING SECTION  */
/* ****************** */

.honouring {
    padding: 8vh 6vw 8vh 6vw;
}

.honouring>div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-content: center;
    align-items: flex-start;
    grid-gap: 30px;
    margin: 50px auto;
    max-width: 1200px;
}

.honouring .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 300px;
    justify-self: center;
}

.honouring .service-links {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

.honouring .service-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--headings), "Arial", sans-serif;
    color: #fff;
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    border-radius: 10px;
    transform: scale(1.2);
    transition: transform 250ms;
    text-align: center;
}

.honouring .service-links a::before {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../images/groupphoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.honouring .service-links a:hover {
    transform: scale(1);
}


.honouring .card:nth-child(2) a::before {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../images/ringphoto.jpg);
    background-position: center;
}

.honouring .card:nth-child(3) a::before {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../images/handfasting.jpg);
    background-position: center;
}

.honouring p {
    padding: 0;
    text-align: center;
    margin-top: 20px;
}

/* **************************/
/* LIFECYCLE & WILD SECTION  */
/* **************************/

.reg {
    font-size: 0.7em;
}

.lifecycle-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lifecycle-flex a {
    order: 2;
}

.celebrant-logo-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    background: rgba(255,255,255,0.8);
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                    0 1px 5px 0 rgba(0, 0, 0, 0.12),
                    0 2px 2px -2px rgba(0, 0, 0, 0.2);
    width: 220px;
    padding: 2em 0;
    transition: transform 250ms;
}

.celebrant-logo-flex:hover {
    transform: scale(1.05);
}

.celebrant-logo {
    display: block;
    width: 55%;
}

.celebrant-link {
    text-align: center;
    padding: 1.5em 1em 0;
    color: #215052;
    line-height: 1.8;
    font-size: 0.8rem;
    font-family: var(--headings);
}

@media (min-width: 900px) {
    .lifecycle-flex {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
    
    .celebrant-logo-flex {
        margin-top: 1em;
        margin-left: 2em;
    }
}

.lifecycle p {
    max-width: 600px;   
}

.wild p {
    max-width: 800px; 
    margin: 0 auto;
}

.wild p {
    margin-bottom: 20px;
}

.wild-icons {
    margin: auto 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 900px;
    flex-wrap: wrap;
}

.wild-icons>img {
    max-width: 140px;
    padding: 10px;
}


/* ****************** */
/* CONTACT SECTION */
/* ****************** */

.contact>p{
    max-width: 800px;
    margin: 0 auto;
}

.contact>div{
    max-width: 900px;
    padding: 10px;
    margin: 1em auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contact-info {
    display: flex;
    flex-direction: column;
    
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1.6em 2em;
    border-radius: 6px;
    
    min-width: min-content;
    max-width: max-content;
    margin: 1em auto;
    
    font-family: var(--headings), 'Arial', sans-serif;
    color: var(--darkpurple);
}

.contact-info p:first-child {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 0.5em;
}

.contact-info--email,
.contact-info--number {
    display: flex;
    align-items: center;
    font-family: var(--main-font), 'Arial', sans-serif;
    color: var(--main-text);
    letter-spacing: 0.5px;
}

/*
.contact-info p:first-child::after {
    content: '';
    display: block;
    width: 100%;
    border-bottom: 1px solid var(--darkpurple);
    margin: 2px auto 0 auto;
}
*/

.contact-info p {
    margin: 0;
    padding: 0;
}


.info-list {
    padding: 1em;
    margin: 0 auto;
    order: -1;
}

@media (max-width: 800px) {
    .contact>div {
        flex-direction: column;
    }
    
    .info-list {
        order: 2;
    }
}

.info-list p {
    padding: 0;
    line-height: 1.4em;
    padding-bottom: 0.5em;
}

.contact ul ion-icon {
    margin-right: 5px;
    margin-top: 0.4em;
}

/*aligns the list item icons with the list item text*/
.contact li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.contact ion-icon {
    color: var(--darkpurple);
}

.contact-info ion-icon {
    margin-right: 0.3em;
}

/* ****************** */
/* ABOUT SECTION */
/* ****************** */

.aboutBody h1::before,
.services h1::before {
    display: block;
    text-align: left;
    font-size: 0.4em;
    font-family: var(--main-font), 'Arial', sans-serif;
    padding: 5px;
}

.aboutBody h1::before {
    content: "A little bit";
}

.aboutBody h1,
.services h1 {
    width: max-content;
    font-size: 3em;
    margin: 20px auto;
}

.portrait {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 30px;
    padding-top: 20px;
}

.portrait img {
    grid-row: span 3;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
}

.couple h2,
.couple p {
    margin-left: auto;
    margin-right: auto;
}
.couple h2 {
    max-width: 500px;
    font-size: 1.4rem;
}

.couple p {
    max-width: 700px;
}

/* ****************** */
/* SERVICES SECTION */
/* ****************** */

.services {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/handfasting.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.services h1::before {
    content: "Personalized, Custom";
    color: #fff;
}

.services h1 {
    color: #fff;
}

.services-images {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    flex-wrap: wrap;
}

.services-images>img {
    margin: 0 20px;
    padding: 10px;
}

.unique>div,
.marriage-main,
.vow>div,
.elope>div,
.fees>div {
    margin: 30px auto;
    max-width: 800px;
}

.marriage-icons-title {
    text-align: center;
    margin-bottom: 1em;
}

.marriage-icons {
    margin: 1em auto;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    max-width: 1000px;
    flex-wrap: wrap;
}

.marriage-card {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    margin: 0.5em;
}

.marriage-card img {
    width: 80%;
}

.marriage-card p:last-child {
    font-size: 0.8rem;
    text-align: center;
    padding: 0.5em;
}

.marriage-card-title {
    font-size: 1rem;
    font-family: var(--headings);
    color: var(--darkpurple);
    text-align: center;
    padding: 1em;
    padding-bottom: 0.5em;
}



/* ****************** */
/* FOOTER  */
/* ****************** */

footer {
    background-color: var(--footerpurple);
    font-size: 0.8rem;
    padding: 30px;
    padding-bottom: 10px;
}

footer p {
    text-align: center;
    font-size: 1.4rem;
    max-width: 600px;
    margin: 0.5em auto 3em auto;
    line-height: 1.5;
}

footer p,
footer small,
footer nav a,
footer nav li,
footer .social-links,
footer .social-links ion-icon {
    color: rgba(242,240,245,0.8);
}

footer span {
    color: var(--lightpurple);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0.5em auto;
}

footer nav {
    max-width: max-content;
    padding: 0 1.5em;
    letter-spacing: 0.5px;
}

footer small {
    padding: 0 1.5em;
    letter-spacing: 0.25px;
}

footer nav i, 
footer nav ion-icon {
    font-size: 0.8rem;
}

.footer-nav {
    display: flex;
}
